import os


SQLALCHEMY_DATABASE_URI = "postgres://postgres@/postgres"
CELERY_BROKER_URL = "redis://localhost:6379"
RESOURCE_CONTENT_FOLDER = os.environ.get('RESOURCE_CONTENT_FOLDER')
assert RESOURCE_CONTENT_FOLDER  # set environ var "RESOURCE_CONTENT_FOLDER"!

MAX_WEBPAGE_RESULTS = 250
MAX_RESOURCE_RESULTS = 250
MAX_HASHES = 500
MAX_PAGES_PER_HASH = 25
MAX_QUERY_TIME = 10

YARA_SCAN_TIMEOUT = 1500
YARA_EMAIL_WHITELIST = []

MAIL_FROM = "scriptobservatory@gmail.com"
MAIL_PREFIX = "[ScriptObservatory] "
SMTP_SERVER = "localhost"
SMTP_PORT = 587
SMTP_PASSWORD = ""

API_IP_WHITELIST_ENABLED = False
API_IP_WHITELIST = []

