amqp==1.4.7
anyjson==0.3.3
billiard==3.3.0.20
celery==3.1.18
Flask==0.10.1
Flask-Restless==0.17.0
Flask-SeaSurf==0.2.1
Flask-SQLAlchemy==2.0
iotop==0.6
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.26
MarkupSafe==0.23
matplotlib==1.4.3
mimerender==0.5.5
numpy==1.9.3
packaging==15.3
psycopg2==2.6.1
pyparsing==2.0.3
python-dateutil==2.4.2
python-mimeparse==0.1.4
pytz==2015.6
redis==2.10.3
requests==2.7.0
six==1.9.0
SQLAlchemy==1.0.8
uWSGI==2.0.11.1
Werkzeug==0.10.4
yara==1.7.7
