Congrats, your rule has been successfully added!

<br><br>

An email will be sent to {{ rule.email }} whenever someone reports seeing a webpage that 
includes a resource whose content matches this rule. 

<br> <br>

For your records, the content of the rule is:

<br><br>

<pre>{{ rule.content }}</pre>

<br>

If you would like to turn off email alerts for this rule, your removal code is: 
&nbsp;&nbsp;<pre>{{ rule.removal_code }}</pre>

<br>

This code must be entered on the <a href="https://scriptobservatory.org/yara_remove.html">removal 
webpage</a>. Alternatively, you can always <a href="mailto:scriptobservatory@gmail.com">
send me an email</a>, but this may take longer.

<br><br>

As always, get in touch if you have any thoughts or ideas about how the system could be improved.

<br><br>

Happy Hunting!

<br><br>

Andy

