A maximum of {{ config.MAX_HASHES }} hashes and {{ config.MAX_PAGES_PER_HASH }} webpages for
each hash will be shown here. To see full results, refine your YARA
rule or query the server directly.

<br><br>

We found {{ matches | length }} matching hashes:

<br><br>

{% for match in matches -%}

    Matching script: <a href="https://scriptobservatory.org/script-content/{{ match.hash }}">{{ match.hash }}</a>

    <br><br>

    Seen on {{ match.unique_urls | length }} webpages:

    <br>

    <ul>
    {% for url in match.unique_urls -%}
        <li><a href="https://scriptobservatory.org/search/?query={{ url }}">{{ url }}</a></li>
    {% endfor -%}
    </ul>

    <br><br><br>
{% endfor -%}

