This message is to notify you that your YARA rule has been removed from the database. This can happen when you request your rule be removed or if the rule was alerting too frequently. 

<br><br>

If you weren't wanting for this rule to be removed, try <a href="https://yara.readthedocs.org/en/latest/writingrules.html">refining your YARA rule</a> to be more specific. Information on the exact rate limiting systems ScriptObservatory uses can be found on <a href="https://scriptobservatory.org/yara.html">the main YARA webpage</a>.

<br> <br>

For your records, the content of the removed rule is:

<br><br>

<pre>{{ rule.source }}</pre>

<br>

As always, feel free to <a href="mailto:scriptobservatory@gmail.com">send me an email</a> if you have thoughts on how the system could be made better.

<br><br>

Cheers,

<br><br>

Andy

