A maximum of {{ config.MAX_HASHES }} hashes and {{ config.MAX_PAGES_PER_HASH }} webpages for
each hash will be shown here. To see full results, refine your YARA
rule or query the server directly.

<br><br>

We found {{ matches | length }} matching hashes:

<br><br>

{% for match in matches -%}

    Matching resource: <a href="https://scriptobservatory.org/resource-content/{{ match.hash }}">{{ match.hash }}</a>

    <br><br>

    Seen {{ match.urls | length }} times:

    <br>

    <ul>
    {% for url in match.urls -%}
        <li><a href="https://scriptobservatory.org/webpage/{{ url.webpage_hash }}">{{ url.webpage_url }}</a> (<a href="https://scriptobservatory.org/explore.html?query={{ url.resource_url }}">{{ url.resource_url }}</a>)</li>
    {% endfor -%}
    </ul>

    <br><br><br>
{% endfor -%}

