Someone reported seeing something that matches your Yara rule!

<br><br>

This email shows a maximum of {{ config.MAX_HASHES }} hashes and a maximum of 
{{ config.MAX_PAGES_PER_HASH }} webpages for each hash. 

<br><br>

For your reference, this rule has {{ tokens }} email tokens left. These will automatically replenish
over time. For more information about the "email token" rate limiting system, see the 
<a href="https://scriptobservatory.org/yara.html">main Yara page</a>.

<br><br>

This time, there were {{ matches | length }} matching resource(s) seen:

<br><br>

{% for match in matches -%}

    Match: <a href="https://scriptobservatory.org/resource-content/{{ match.hash }}">{{ match.hash }}</a>

    <br><br>

    Seen {{ match.urls | length }} times:

    <br>

    <ul>
    {% for url in match.urls -%}
        <li>
          <a href="https://scriptobservatory.org/webpage/{{ url.webpage_hash }}">{{ url.webpage_url }}</a> 
          (<a href="https://scriptobservatory.org/explore.html?query={{ url.resource_url }}">{{ url.resource_url }}</a>)
        </li>
    {% endfor -%}
    </ul>

    <br><br>
{% endfor -%}

That's all for now... As always, feel free to <a href="mailto:scriptobservatory@gmail.com">send me an email</a> 
if you have thoughts on how the system could be made better.

Happy Hunting!

