<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>ScriptObservatory</title>
  <link rel="stylesheet" href="http://127.0.0.1:8080/css/bootstrap-3.3.4.min.css">
  <script src="http://127.0.0.1:8080/js/angular-1.2.16.js"></script>
  <script src="http://127.0.0.1:8080/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
  <script src="http://127.0.0.1:8080/js/app.js"></script>
  <script src="http://127.0.0.1:8080/js/jquery-2.1.4.min.js"></script>
  <script src="http://127.0.0.1:8080/js/d3.min.js" charset="utf-8"></script>
</head>

<body>

<script type="text/javascript">
function truncate(str, maxLength) {
    if(str.length > maxLength) {
        str = str.substring(0, maxLength + 1); 
        str = str + "...";
    }
    return str;
}

var margin = {top: 20, right: 200, bottom: 0, left: 20}, width = 1000, height = 1000;
var start_day = 0, end_day = 100;

var c = d3.scale.category20c();

var x = d3.scale.linear().range([0, width]);
var xAxis = d3.svg.axis().scale(x).orient("top");

//var formatDays = d3.format("0");
//xAxis.tickFormat(formatDays);

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .style("margin-left", margin.left + "px")
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


function get_color_from_hash(h){
    return "#" + h.substring(0,6);
}
    
function initialize_data(){
    data = {{ json_data | safe }};

    x.domain([start_day, end_day]);
    var xScale = d3.scale.linear()
        .domain([start_day, end_day])
        .range([350, width]);


    for (var j = 0; j < data.length; j++) {
        var g = svg.append("g").attr("class","resource");

        var circles = g.selectAll("circle")
            .data(data[j]['views'])
            .enter()
            .append("circle");

        var text = g.selectAll("text")
            .data(data[j]['views'])
            .enter()
            .append("text");

        circles
            .attr("cx", function(d, i) { return xScale(d['date']); })
            .attr("cy", j*20+20)
            .attr("r", function(d) { return 2 + d['n']; })
            .style("fill", function(d, i) { return get_color_from_hash(d['details'][0]['hash']); });

        g.append("text")
            .attr("y", j*20+25)
            .attr("x", 0)
            .attr("class","label")
            .text(truncate(data[j]['name'], 45))
            .style("fill", function(d, i) { return j; })
            .on("mouseover", mouseover)
            .on("mouseout", mouseout);
    };

    function mouseover(p) {
        var g = d3.select(this).node().parentNode;
        // do something
    }

    function mouseout(p) {
        var g = d3.select(this).node().parentNode;
        // do something
    }
};

initialize_data();
</script>

</body>
</html
