<html>
<head></head>
<body>
  {% for sc in scriptcontent -%}
  <h2>Script Content for {{ sc.hash }}:</h2>
  {% if beautified %}
  <i> 
    This JS has been cleaned up with <a href="https://github.com/beautify-web/js-beautify" target="_blank">js-beautify</a>. 
    To view an HTML-escaped version of the raw content, click <a href="https://scriptobservatory.org/script-content?content=true&hashes={{ sc.hash }}">here</a>.
  </i>
  {% endif %}

  <pre style="white-space:pre-wrap; width:95%; font-size:12px; font-family:'Courier New', Courier, monospace, sans-serif;">{{ sc.content }}</pre>

  <hr>
  {% endfor -%}
</body>
</html>

