<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ScriptObservatory</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-app="app" ng-controller="AppCtrl as app">

<div align="center">
    <h1> <a href="/" style="color: inherit;"> ScriptObservatory </a> </h1>
    <br>
    <form ng-submit="submitQueryForm()">
        Enter a website, script, or SHA-256 hash: <input type="text" name="url" ng-model="parentQueryText" />
        <select ng-model="dateRangeChoice">
            <option selected value="all">All time</option>
            <option value="day">Last 24h</option>
            <option value="week">Last 1w</option>
            <option value="month">Last 1mo</option>
            <option value="year">Last 1y</option>
        </select>
        <input type="submit" id="submit" value="Submit" />
    </form>
</div>    

<br>

<div id="about_section" style="display:block; width:50%; margin-left:auto; margin-right:auto;" align="left">
    <hr> 
    <br>
    <p> 
        The goal of the ScriptObservatory project is to extend the idea behind the <a href="https://www.eff.org/observatory" style="color:blue; visited:blue;" target="_blank">SSL Observatory</a> by recording information about the <b><i>live content</b></i> people are seeing on the internet.
        <br><br>
        Initially, the only objects that will be analyzed are JavaScript files. Eventually, it might be extended to include other types of content like flash objects and iframes. 
        <br><br>
        The long-term goal of this website is for it to be a place where anyone can analyze the record of what snippets of code people have been sent while on the internet. The long-term goal for the Chrome extension is to crowdsource the data collection and to (optionally) act as a <b><i>content-aware</i></b> script blocker, letting you have finer control over what runs on your computer.
        <br><br>
        You can find more info on the <a style="color:blue; visited:blue;" href="https://github.com/andy11/ScriptObservatory/" target="_blank">GitHub page</a>. 
        <br><br>
        Some sample queries:
        <ul>
        <li><a href="#" style="color:blue; visited:blue;" ng-click='submitQuery("http://www.vt.edu/");'>http://www.vt.edu/</a>
        <li><a href="#" style="color:blue; visited:blue;" ng-click='submitQuery("reddit.com");'>reddit.com</a>
        <li><a href="#" style="color:blue; visited:blue;" ng-click='submitQuery("http://www.google-analytics.com/ga.js");'>http://www.google-analytics.com/ga.js</a>
        <li><a href="#" style="color:blue; visited:blue;" ng-click='submitQuery("54210e4001e71dc204bdd71ff0a24f5c5526d5a9d652053464af3f270593eb89");'>54210e4001e71dc204bdd71ff0a24f5c5526d5a9d652053464af3f270593eb89</a>
        </ul>
        
        <script>
            function httpGet(url){
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("GET", url, false);
                xmlHttp.send();
                return xmlHttp.responseText;  // TODO: check return code
            }
            
            var entries = httpGet("/api/count_entries").split(' ');
            document.write("Currently, the database contains " + entries[0] + " script objects coming from " + entries[1] + " pageviews.");
        </script>

    </p>
</div>

<div id="raw_section" style="display:none">
    <table>
        <th style="width:12%"> Date </th>
        <th style="width:43%"> <input ng-model="search.url" placeholder="Page URL"></th>
        <th style="width:35%"> Scripts </th>
        <tr ng-repeat="pageview in app.records | filter:search | orderBy:'-date'">
            <td>{{ pageview.date | date:'yyyy-MM-dd HH:mm' }}</td>
            <td>{{ pageview.url | limitTo: 70 }}{{ script.url.length > 70 ? '...' : '' }}</td>
            <td>{{ pageview.scripts | limitTo: 50 }}{{ script.parent_url.length > 50 ? '...' : '' }}</td>
        </tr>
    </table>
</div>

<div id="website_section" style="display:none">
    <table style="border: 1px dotted black;">
        <th style="border: 1px dotted black; width:30%"> 
            Site URL <!-- <input ng-model="search.url" placeholder="Filter by URL"> -->
        </th>
        <th style="border: 1px dotted black; width:4%"> N </th>
        <th style="border: 1px dotted black; width:65%"> Scripts </th>
        <tr ng-repeat="site in app.sites | filter:search.url | orderBy:'-occur'">
            <pre>
            <td style="text-align: center; border: 1px dotted black;"><a href="#" ng-click="submitQuery(site.url);"> {{ site.url | limitTo: 67 }}{{ site.url.length > 67 ? '...' : '' }} </a> </td>
            <td style="text-align: center; border: 1px dotted black;">{{ site.occur }}</td>
            <td style="border: 1px dotted black;">
                <table>
                <tr ng-repeat="script in site.scripts | object2Array | orderBy:'-occur'"> 
                    <td style="width:55%;"> <a href="#" ng-click="submitQuery(script.url);"> {{ script.url | limitTo:67 }}{{ script.url.length > 67 ? '...':'' }} </a> </td>
                    <td style="width:10%;"> {{ script.occur.toFixed(1) }}% </td>
                    <td style="width:35%;">
                        <span ng-repeat="hash in script.hashes | object2Array | orderBy:'-occur'"> 
                            <a href="#" ng-click="submitQuery(hash.hash);"> {{ hash.hash | limitTo:10 }} ({{ hash.occur.toFixed(1) }}%){{ $last ? '' : ', '}} </a>
                        </span>
                    </td>
                </tr>
                </table>
            </td>
            </pre>
        <tr>
    </table>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="app.js"></script>

</body>
</html>
