<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ScriptObservatory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://scriptobservatory.org/new.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="https://scriptobservatory.org/ui-bootstrap-tpls-0.12.1.min.js"></script>
</head>

<body ng-app="app" ng-controller="AppCtrl as app">

<div role="main">
  <header class="bs-header text-center" id="overview">
      <h1><a href="#" onclick="show_about(); return false;">ScriptObservatory</a></h1> 
      <p>a project to collect, record, and organize information about the <b><i>live content</i></b> people see on the Internet.</p>
  </header>
</div>

<div class="bodycontainer">
<div class="querybox" align="center">
  <form class="form-inline" ng-submit="submitQueryForm()">
    <label>Submit a query:</label>
    <div class="form-group">
      <input type="text" class="form-control" name="url" ng-model="parentQueryText" placeholder="URL or SHA-256">
    </div>
    <!---
    <div class="form-group">
      <select ng-model="dateRangeChoice">
        <option selected value="all">All time</option>
        <option value="day">Last 24h</option>
        <option value="week">Last 1w</option>
        <option value="month">Last 1mo</option>
        <option value="year">Last 1y</option>
      </select>
    </div>
    -->
    <div class="form-group">    
      <input type="submit" id="submit" value="Submit" class="btn"></input>
    </div>
  </form>
</div>


<div class="container" id="about_section">
  <p> 
        The goal of the ScriptObservatory project is to extend the idea behind the <a href="https://www.eff.org/observatory" target="_blank">SSL Observatory</a> by recording information about the <b><i>live content</b></i> people are seeing on the internet.
        <br><br>
        Initially, the only objects that will be analyzed are JavaScript files. Eventually, it might be extended to include other types of content like flash objects and iframes. 
        <br><br>
        The long-term goal of this website is for it to be a place where anyone can analyze the record of what snippets of code people have been sent while on the internet. The long-term goal for the Chrome extension is to crowdsource the data collection and to (optionally) act as a <b><i>content-aware</i></b> script blocker, letting you have finer control over what runs on your computer.
        <br><br>
        You can find more info on the <a href="https://github.com/andy11/ScriptObservatory/" target="_blank">GitHub page</a>. 
        <br><br>
        Some sample queries:
        <ul>
        <li><a href="#" ng-click='submitQuery("http://www.vt.edu/");'>http://www.vt.edu/</a>
        <li><a href="#" ng-click='submitQuery("reddit.com");'>reddit.com</a>
        <li><a href="#" ng-click='submitQuery("http://www.google-analytics.com/ga.js");'>http://www.google-analytics.com/ga.js</a>
        <li><a href="#" ng-click='submitQuery("54210e4001e71dc204bdd71ff0a24f5c5526d5a9d652053464af3f270593eb89");'>54210e4001e71dc204bdd71ff0a24f5c5526d5a9d652053464af3f270593eb89</a>
        </ul>
    </p>
</div>

<div id="website_section" style="display:none;" class="container">
  <table style="border: 1px dotted black;">
        <th style="border: 1px dotted black; width:30%"> 
            Site URL <!-- <input ng-model="search.url" placeholder="Filter by URL"> -->
        </th>
        <th style="border: 1px dotted black; width:4%"> N </th>
        <th style="border: 1px dotted black; width:65%"> Scripts </th>
        <tr ng-repeat="site in app.sites | filter:search.url | orderBy:'-occur'">
            <td style="text-align: center; border: 1px dotted black;"><a href="#" ng-click="submitQuery(site.url);"> {{ site.url | limitTo: 67 }}{{ site.url.length > 67 ? '...' : '' }} </a> </td>
            <td style="text-align: center; border: 1px dotted black;">{{ site.occur }}</td>
            <td style="border: 1px dotted black;">
                <table>
                <tr ng-repeat="script in site.scripts | object2Array | orderBy:'-occur'"> 
                    <td style="width:55%;"> <a href="#" ng-click="submitQuery(script.url);"> {{ script.url | limitTo:67 }}{{ script.url.length > 67 ? '...':'' }} </a> </td>
                    <td style="width:10%;"> {{ script.occur.toFixed(1) }}% </td>
                    <td style="width:35%;">
                        <span ng-repeat="hash in script.hashes | object2Array | orderBy:'-occur'"> 
                            <a href="#" ng-click="submitQuery(hash.hash);"> {{ hash.hash | limitTo:10 }} ({{ hash.occur.toFixed(1) }}%){{ $last ? '' : ', '}} </a>
                        </span>
                    </td>
                </tr>
                </table>
            </td>
        <tr>
    </table>
</div>
</div>
</body>
</html>
