body {
    font-family: 'Courier New', monospace;
    font-size:60%;
}

a { 
    text-decoration: inherit;
    color: inherit;
    visited: inherit;
} 

table { 
    table-layout:fixed; 
    background-color:white;
    width:100%;
}

