html {
  min-height: 100%;
  overflow-y: scroll;
}

a {
  color: #990000;
  text-decoration: none;
  visited: #990000;
}

.form-control:focus {
  border-color: #FF0000;
}

textarea {
  border:none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
            vertical-align:middle;

}

body {
  min-height: 100%;
  font-family: Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: #8F9FAD; 
  font-size: 15px;
  padding-bottom: 30px;
            vertical-align:middle;
}

table {
  font-family: Courier, monospace;
  font-size:11px;
}

.modal .modal-body {
    width: 100%;
    max-height: 650px;
    overflow-y: auto;
}

.querybox {
  border-bottom: 2px solid #000000;
  padding-top: 12px;
  padding-bottom: 12px;
}

.bodycontainer{
  width: 90%;
  max-width: 1050px;
  min-width: 800px;
  border: 2px solid #000000;
  margin-left: auto;
  margin-right: auto;
  background-color: #C2C5C8;
}

.container{
  padding-top: 12px;
  padding-bottom: 12px;
  width: 90%;
  max-width: 950px;
}

.btn {
  background-color: #FFFFFF;
  border: 1px solid #000;
}

.btn:focus{
  border-color: #FF0000;
}

/* Page headers */
.bs-header {
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  padding: 30px 15px 40px; /* side padding builds on .container 15px, so 30px */
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: #FFF1DE;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1050px;
  min-width: 800px;
  background-color: #000000;
  background-position: right;  
  background-repeat: no-repeat;
  background-image: url(header.jpg);
}
.bs-header h1 {
  font-size: 320%;
  margin-left: 4%;
  font-weight: bold;
  font-family: Georgia, serif;
}
.bs-header p {
  font-weight: 200;
  line-height: 1.4;
  margin-left: 4%;
  margin-right: 50%;
}
.bs-header a {
    text-decoration: inherit;
    color: inherit;
    visited: inherit;
}

