{% extends "base.html" %}

{% block explore_active %} class = "active" {% endblock %}
{% block body %}
        <h3><i>Support for Yara Alerts</i></h3>
        <p>
        Yara support is still experimental, but you can now be alerted whenever
        a resource is observed that matches a given Yara rule.
        
        <br><br>
        
        To start submitting rules, your email address needs to be on the list 
        of approved addresses. If you'd like to be added, 
        <a href="mailto:scriptobservatory@gmail.com" target="_blank">
        send me an email</a>.

        <br><br>

        If you'd like to <i>remove</i> a previously-submitted Yara rule,
        <a href="https://scriptobservatory.org/yara_remove.html">click here</a>.
   
        <br><br>
   
        The alerting system uses a <a href="https://en.wikipedia.org/wiki/Token_bucket#Overview" target="_blank">
        "token bucket" scheme</a> to prevent a surge of matches from overloading your mailbox with emails. When a rule 
        is added, it starts out with 5 "email tokens". Each time an observed resource is a match, a token is taken away 
        and you're sent an alert by email. Tokens are replenished at a rate of one token per minute, and each rule has its
        token balance capped at 10. If the token balance ever reaches zero, you'll be notified and the rule will be 
        automatically removed from the database. 
   
        <br><br>
   
        Retroactively scanning through everything that's been seen for files that match your Yara rule is 
        coming soon.

        <br><br>

        If you're already registered, submit a new rule by filling out the form below.
          
        </p>

        <br>

        <h3><i>Submit a Yara Rule</i></h3>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% if errors|length > 0 -%}
        <ul>
            {% for error in errors -%}
            <li>{{ error }}</li>
            {% endfor -%}
        </ul>
        {% endif -%}

        <form action="{{ url_for('yara_index') }}" method="post">
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token() }}" />

            <div class="row">
            <div class="col-sm-4">
                <label for="id_email">Email Address:</label>
                <input class="form-control" type="email" name="email" id="id_email"
                    required="required" />
            </div>
            </div>
            <br>
            <div class="row">
            <div class="col-sm-4">
                <label for="id_namespace">Label:</label>
                <input class="form-control" type="text" name="namespace" id="id_namespace"
                    required="required" />
            </div>
            </div>
            <br>
            <div class="row">
            <div class="col-sm-8">
                <label for="id_rules">Rules:</label><br>
                <textarea class="form-control" name="source" id="id_source" rows="20" cols="70"
                    required="required"></textarea>
            </div>
            </div>
            
            <br>

            <div class="row">
            <div class="col-sm-1">
                <button class="btn" type="submit">Submit</button>
            </div>
            </div>
        </form>
        
        <br><br>

{% endblock %}
