{% extends "base.html" %}

{% block explore_active %} class = "active" {% endblock %}
{% block body %}
        <h3><i>Remove a Yara Rule</i></h3>
        <p>
        To <i>add</i> a Yara rule to the database, 
        <a href="https://scriptobservatory.org/yara.html">click here</a>.
        </p>

        <p>To remove a previously-uploaded Yara rule, please enter
        the code you received in the original welcome email. If you've lost the original
        email and can't find your code, you can always 
        <a href="mailto:scriptobservatory@gmail.com">send me an email</a>, however it 
        may take longer for me to remove it for you.</p>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% if errors|length > 0 -%}
        <ul>
            {% for error in errors -%}
            <li>{{ error }}</li>
            {% endfor -%}
        </ul>
        {% endif -%}

        <form action="{{ url_for('yara_remove') }}" method="post">
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token() }}" />

            <div class="row">
            <div class="col-sm-4">
                <label for="id_code">Removal Code</label>
                <input class="form-control" type="text" name="removal_code" id="id_code"
                    required="required" />
            </div>
            </div>
            <br>
            <div class="row">
            <div class="col-sm-2">
                <button class="btn" type="submit">Submit</button>
            </div>
            </div>

        </form>
            
        <br><br>
{% endblock %}
