{% extends "base.html" %}

{% block faqs_active %} class = "active" {% endblock %}
{% block body %}
    <p>
      <h3><i>Where did this data come from?</i></h3>
      The data shown here was collected from browsers and web-crawlers using the <a target="_blank" href="https://github.com/andy11/ScriptObservatory#usage">ScriptObservatory Chrome Extension</a>. 
      If you'd like to automatically add your observations to the database, the extension will be available for download in the next few months.
      <br><br>
      
      <h3><i>How does the Chrome Extension collect the data?</i></h3>
      The extension is notified every time your browser is about to make a request for an object that Chrome classifies as a "script". The extension stops the 
      browser from making the request and makes its own request instead. Once it receives the content, it calculates a hash of the data and passes the object 
      back to the browser.
      <br><br>
      This way of grabbing the content isn't ideal performance-wise and will hopefully be improved soon. Documentation of design decisions can be found directly in the source 
      code. (<a href="https://github.com/andy11/ScriptObservatory/blob/master/chrome-extension/js/extension.js" target="_blank">chrome-extension/js/extension.js</a>
      contains all the non-crypto code for the extension.)
      <br><br>
      With the ScriptObservatory Chrome extension installed, your browser will send these three pieces of information to the ScriptObservatory backend each time you view a webpage:
      <ul>
        <li>The URL of the webpage</li>
        <li>The URL of each piece of JavaScript included on the page</li>
        <li>The SHA-256 hash of the content of each script you observe (inline & remote)</li>
      </ul>
      <br>
      <h3><i>Can the ScriptObservatory Chrome Extension block these scripts before I run them?</i></h3>
      That's <a href="https://github.com/andy11/ScriptObservatory/blob/master/README.md#roadmap" target="_blank">on the roadmap</a>.
      <br><br>
      <h3><i>What does the Chrome Extension do to protect its users' privacy?</i></h3>
      <ul>
        <li>
          The connection from you to the ScriptObservatory backend will always be 
          <a href="https://www.ssllabs.com/ssltest/analyze.html?d=scriptobservatory.org" target="_blank">encrypted with TLS</a>. 
        </li>
        <li>
          Unless they're present in the URLs, no IP addresses or "User ID" values are ever recorded in the database. Your observations will be immediately mixed in with those of everyone else. If you see an IP address or User ID value in a URL string that made it past the filters, let me know and I'll remove the records and blacklist further reports for that website.</li>
        <li>
          The source code for both the client and the server will always be available for you to review.
          (See the <a href="https://github.com/andy11/ScriptObservatory/tree/master/chrome-extension" target="_blank">chrome-extension/</a> and 
          <a href="https://github.com/andy11/ScriptObservatory/tree/master/backend" target="_blank">backend/</a> directories to get started.)
        </li>
      </ul>
      If you have suggestions for ways to further improve, get in touch!
     <br><br>
     <h3><i>What have you found so far?</i></h3>
      As of 2015-08-13, the record contains (at least) 91 webpages serving malicious content.
     <br><br>
      I'd like to do some kind of A/B testing to see if notifying webpage owners that their sites are serving exploits causes them to remediate faster, but I don't have enough time. <i>If you'd be interested in helping out with this, <a href="https://github.com/andy11/ScriptObservatory/issues/34" target="_blank">get in touch!</a></i>
     <br><br>
     <h3><i>How much data have you collected?</i></h3>
      I started scanning in April 2015. Here are some plots that get updated every 12 hours:
      <br><br>
      <div align="center">
      <img src="https://scriptobservatory.org/img/entries-over-time.png"></img>
      <br><br>
      <img src="https://scriptobservatory.org/img/new-entries-per-hour.png"></img>
      <br><br>
      <img src="https://scriptobservatory.org/img/unique-webpages-over-time.png"></img>
      
      </div>
    </p>
{% endblock %}
