{% extends "base.html" %}

{% block home_active %} class = "active" {% endblock %}
{% block body %}
    <p> 
    <h3><i>Basic Information</i></h3>
    The goal of the ScriptObservatory project is to extend the idea behind the <a href="https://www.eff.org/observatory" target="_blank">SSL Observatory</a>
    by recording information about the JavaScript, iframes, and other potentially-harmful resources people see while browsing the web.
    <br><br>
    The goal of this webpage is to let anyone analyze a record of what people have seen.
	<br><br>
	The goal of the Chrome extension is to crowdsource the data collection and act as a <b><i>content-aware</i></b> 
    resource filter, letting you have finer control over what code runs on your computer.
    <br><br>
	Slides from a talk earlier this year with more background info can be found <a href="https://scriptobservatory.org/share/scriptobservatory-2015-05-21.pdf" target="_blank">here</a>. 
    <br><br>
    <h3><i>Getting Started</i></h3>
    Click the <i>"Explore the Data"</i> tab above to start querying the database.
    <br><br>
    <h3><i>Are you looking for a project to get involved with?</i></h3>
    <a target="_blank" href="mailto:scriptobservatory@gmail.com">Send me an email</a> to get in touch, or follow the project on <a target="_blank" href="https://twitter.com/scriptobserv">Twitter</a> (<i>new!</i>). 
    <br><br>
    Most of the coding is in Python (backend, analysis tools, scanning automation tools),  HTML & AngularJS (webpage), and plain JavaScript (chrome extension). All the code is on <a target="_blank" href="https://github.com/andy11/ScriptObservatory">GitHub</a>. 
    <br><br>
    </p>
{% endblock %}
