{% extends "base.html" %}

{% block home_active %} class = "active" {% endblock %}
{% block body %}
    <p> 
    <h3><i>Basic Information</i></h3>
    The goal of the ScriptObservatory project is to extend the idea behind the <a href="https://www.eff.org/observatory" target="_blank">SSL Observatory</a>
    by recording information about the content people see on the Internet.
    <br><br>
    The long-term goal of this website is for it to be a place where anyone can analyze a record of what code people have been sent while on 
    the Internet. The long-term goal for the <!-- <a href="https://github.com/andy11/ScriptObservatory#usage" target="_blank">Chrome extension</a>--> Chrome extension is to 
    crowdsource the data collection and to act as a <b><i>content-aware</i></b> script blocker.
    <br><br>
    <h3><i>Getting Started</i></h3>
    Click the <i>"Explore the Data"</i> tab to start querying the database.
    <br><br>
    <h3><i>Are you looking for a project to get involved with?</i></h3>
    <a target="_blank" href="mailto:scriptobservatory@gmail.com">Send me an email</a> to get in touch! 
    <br><br>
    Most of the coding is in Python (backend, analysis tools, scanning automation tools),  HTML & Angular JS (webpage), and plain JavaScript (chrome extension). All the code is on <a target="_blank" href="https://github.com/andy11/ScriptObservatory">GitHub</a>. 
    <br><br>
    If you just want to comb through the data that's been collected, see the "Explore the Data" tab to get started.
    <br><br>
    </p>
{% endblock %}
