{% extends "base.html" %}
{% block explore_active %} class = "active" {% endblock %}
 
{% block head %}
  <script src="https://scriptobservatory.org/js/d3.min.js" charset="utf-8"></script>
  <script src="https://scriptobservatory.org/js/webpage-view.js"></script>
{% endblock %}

{% block body %}
    <div align="center">
      <h3> Website: <b>{{ webpage.url }}</b></h3>
      <p id="info">
        <pre id="progress">Results are loading. This usually takes less than 10 seconds, but in some cases can take up to a minute.
          <br>
          <br>
          <img src="/img/wait30.gif"></img>
          <br>
        </pre>
      
        <plot></plot>
        
		<br>
		<div align="left">
		<h3><i>What is this?</i></h3>
		<ul>
		  <li>Hover over a dot to see more information about the resource.</li>
		  <li>Click the dot to lock the text and search for other pages where the hash or URL has been seen.</li>
		  <li>Click the "unlock" button to go back to scanning the resources.</li>
		</ul>
      	</div>
        <pre id="cur"></pre>
      </p>

      <script type="text/javascript">
        var view_locked = false;
        setTimeout(get_data, 50, "{{ webpage.id }}");
      </script>

    </div>
{% endblock %}
