html {
  overflow-y: scroll;  /* make there always be a scrollbar */
}

body {
  font-family: Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: #8F9FAD; 
  font-size: 18px;
  padding-bottom: 30px;
}

a {
  color: #990000;
  visited: #990000;
  text-decoration: none;
}
.bookmarklet
{ 
    background:#ffe; 
    border:1px dotted #aaa;
    color:#444;
    padding:1px 2px 0px 2px;
    font-size:90%;
}

table {
  font-size:14px;
}

.bodycontainer{
  width: 90%;
  max-width: 1050px;
  min-width: 800px;
  border: 2px solid #000000;
  margin-left: auto;
  margin-right: auto;
  background-color: #C2C5C8;
}

.container{
  padding-top: 6px;
  padding-bottom: 6px;
  width: 95%;
  max-width: 1000px;
}

.bs-header {
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  padding: 20px 10px 30px; 
  color: #FFF1DE;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1050px;
  min-width: 800px;
  background-color: #000000;
  background-position: right;  
  background-repeat: no-repeat;
  background-image: url(../img/header.jpg);
}
.bs-header h1 {
  font-size: 48px;
  margin-left: 4%;
  font-weight: bold;
  font-family: Georgia, serif;
}
.bs-header a {
  text-decoration: inherit;
  color: inherit;
  visited: inherit;
}
.bs-header p {
  font-weight: 200;
  line-height: 130%;
  margin-left: 4%;
  margin-right: 50%;
}

.modal .modal-body {
  width: 100%;
  max-height: 650px;
  overflow-y: auto;
}

.modal-url {
  color: #000000;
  font-weight: bold;
}
 
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* navbar */
.navbar-default {
    background-color: #C2C5C8;
    border-color: #C2C5C8;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #555;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #990000;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 4px 25px;
  background: inherit;
  color: black;
}
.nav-tabs>li>a {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.form-control:focus {
  border-color: #FF0000;
}
.btn {
  background-color: #FFFFFF;
  border: 1px solid #000;
}
.btn:focus{
  border-color: #FF0000;
}

