html {
  min-height: 100%;
  overflow-y: scroll;
}

a {
  color: #990000;
  text-decoration: none;
  visited: #990000;
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-control:focus {
  border-color: #FF0000;
}

body {
  min-height: 100%;
  font-family: Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: #8F9FAD; 
  font-size: 18px;
  padding-bottom: 30px;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 4px 25px;
  background: inherit;
  color: black;
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

table {
  font-size:14px;
}

.modal .modal-body {
    width: 100%;
    max-height: 650px;
    overflow-y: auto;
}


.bodycontainer{
  width: 90%;
  max-width: 1050px;
  min-width: 800px;
  border: 2px solid #000000;
  margin-left: auto;
  margin-right: auto;
  background-color: #C2C5C8;
}

.container{
  padding-top: 12px;
  padding-bottom: 12px;
  width: 95%;
  max-width: 1000px;
}

.btn {
  background-color: #FFFFFF;
  border: 1px solid #000;
}

.btn:focus{
  border-color: #FF0000;
}

/* Page headers */
.bs-header {
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  padding: 30px 15px 40px; /* side padding builds on .container 15px, so 30px */
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: #FFF1DE;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1050px;
  min-width: 800px;
  background-color: #000000;
  background-position: right;  
  background-repeat: no-repeat;
  background-image: url(../img/header.jpg);
}
.bs-header h1 {
  font-size: 320%;
  margin-left: 4%;
  font-weight: bold;
  font-family: Georgia, serif;
}
.bs-header p {
  font-weight: 200;
  line-height: 1.4;
  margin-left: 4%;
  margin-right: 50%;
}
.bs-header a {
  text-decoration: inherit;
  color: inherit;
  visited: inherit;
}

